body {
  font: sans-serif;
  position: absolute;
  background-color: lightblue;
  height: 100%;
  width: 100%;
  /*display: flex;*/
}

nav {
  position: absolute;
  background-color: palevioletred;
  color: papayawhip;
  width: 100%;
  display: block;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 10px
}

li {
  text-decoration: none;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: black;
}

main {
  position: relative;
  width: 100%;
  top: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.SearchForm {
  position: relative;
}

.search {
  width: 350px;
  padding: 10px;
}

.searchButton {
  padding: 12.5px;
  border: none;
  margin-left: 5px;
  background-color: slategrey;
}

.results {
  position: relative;
  margin: 50px;
  height: 200px;
  width: 400px;
  background-color: grey;
}
