/* Google Font */
@import url('https://fonts.googleapis.com/css?family=Amarante');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(30, 34, 32, 0.77);
  color: white;
  font-size: 24px;
  cursor: default;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #a7a7a7;
}

header {
  display: flex;
  justify-content: flex-end;
  width: 99%;
  background: #252323;
  padding: 8px;
  color: #a7a7a7;
}

.container {
  background-image: url("https://ckc4me.files.wordpress.com/2013/02/green-eyed-monster-0c366c10addd516fcc8dc247281fc5ec.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  min-height: 745px;
}
/* Parent of Login/Regis */
.reg {
  display: flex;
}
.menu,
a .login,
a .sign {
  cursor: pointer;
}

.menu {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: all 0.5s;
}

.menu:hover,
.reg a:hover,
.about a:hover {
  color: white;
}
.menu:hover {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* First Page */
.front {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  justify-content: center;
}

.front .title {
  font-size: 75px;
  background: linear-gradient(to top right, #ffccff -6%, #99ffcc 112%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 22px;
  font-family: "Amarante", cursive;
}
/* Subtitle - choice and input box */

.searchSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search {
  margin-top: 36px;
  width: 25%;
}

.SearchForm {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search h3 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #a7a7a7;
}
.search h3 span {
  padding: 3px 2px 3px 4px;
  margin: 6px;
  border-radius: 6px;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
}

.artist {
  border: 2px solid grey;
  border-radius: 6px;
}
.artist:hover {
  border: 2px solid white;
}
.search h3 span:hover {
  color: white;
  font-size: 17px;
}

.searchInput {
  font-size: 15px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.searchInput:focus {
  outline-color: #00ff00;
}

.front .search .btn {
  height: 30px;
  width: 75px;
  font-size: 18px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(to top right, #ffccff -6%, #99ffcc 112%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s;
  margin-left: 8px;
}

.front .search .btn:hover {
  height: 30px;
  width: 100px;
  letter-spacing: 2px;
  font-weight: 700;
}

/* Results Page */
.containerSec {
  min-height: 745px;
  transition: all 1s ease-in-out;
  background: #333;
}
.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.results .titleSec {
  font-size: 45px;
  background: linear-gradient(to top right, #ffccff -6%, #99ffcc 112%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 6px;
}

.searchSec {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #a7a7a7;
  margin-top: -8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchSec h3 {
  margin: 0px 0px 8px;
}
.searchSec h3 span {
  padding: 3px 2px 3px 7px;
  margin: 3px;
  border-radius: 6px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 10px;
  cursor: pointer;
}

.searchInputSec form {
  margin-top: 6px;
}

.artistSec {
  border: 1px solid grey;
  border-radius: 6px;
}
.artistSec:hover {
  border: 1px solid white;
}
.searchSec h3 span:hover {
  color: white;
}

.searchInputSec {
  font-size: 12px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.searchInputSec:focus {
  outline-color: black;
}

.results .searchSec .btnSec {
  font-size: 12px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
  outline: none;
  transition: all 0.5s;
  margin-left: 10px;
}

.results .searchSec .btnSec a {
  color: black;
}

.results .searchSec .btnSec:hover {
  background-color: white;
  letter-spacing: 1px;
  font-weight: 700;
}

/* Results Page Image, Track, and name */

.musicInfo {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}

.musicInfo .music {
  display: flex;
  justify-content: space-around;
  width: 65%;
}
.musicInfo .name {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 5px;
  background: linear-gradient(to top right, #ffccff -6%, #99ffcc 112%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 62%;
}
.musicInfo .music img {
  display: flex;
  justify-content: flex-start;
  border-radius: 2%;
  box-shadow: 1px 1px 20px #aaa;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  border: 1px solid #3e2b14;
  padding: 6px;
  margin-right: 24px;
  height: 400px;
}

footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 99%;
  background: #252323;
  padding: 8px;
  color: #a7a7a7;
}

/* Burger Menu */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 25px;
  left: 12px;
  top: 7px;
  transition: all 0.5s;
}

.bm-burger-button:hover {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: all 0.5s;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #a7a7a7;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #252323;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  /* padding: 0.8em; */
}

.bm-item-list ul {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  height: 24%;
  font-size: 30px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* Menu Bar List - Customized*/
#home,
#user,
#about,
#contact,
#setting {
  text-transform: uppercase;
  transition: background 0.3s, box-shadow 0.3s;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
}

#home:hover,
#user:hover,
#about:hover,
#contact:hover,
#setting:hover {
  color: #6e6969;
}
