html {
  font: sans-serif;
  background-color: black;
}

nav {
  background-color: palevioletred;
  color: papayawhip;
  width: 100%;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 10px
}

li {
  text-decoration: none;
  font-size: 24px;
}

.form {
  position: absolute;
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 350px;
  padding: 10px;
}

.searchButton {
  padding: 12.5px;
  border: none;
  margin-left: 5px;
  background-color: slategrey;
}
